# Ignore node_modules folder
node_modules/

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore environment variable files
.env
.env.*.local

# Ignore build output
dist/
build/

# Ignore temporary files
.tmp
.temp

# Ignore editor-specific files
.vscode/
.idea/
*.swp

